@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    IEnumerable<OrderDetail> lsTopProducts = ViewBag.TopProducts;
    double tongtien = ViewBag.TongTien;
}
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="avatar avatar-icon avatar-lg avatar-blue">
                            <i class="anticon anticon-dollar"></i>
                        </div>
                        <div class="m-l-15">
                            <h2 class="m-b-0">@tongtien.ToString("#,##0")</h2>
                            <p class="m-b-0 text-muted">Tổng doanh thu (VNĐ)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="avatar avatar-icon avatar-lg avatar-cyan">
                            <i class="anticon anticon-line-chart"></i>
                        </div>
                        <div class="m-l-15">
                            <h2 class="m-b-0">@ViewBag.PhanTram %</h2>
                            <p class="m-b-0 text-muted">Tăng trưởng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="avatar avatar-icon avatar-lg avatar-gold">
                            <i class="anticon anticon-profile"></i>
                        </div>
                        <div class="m-l-15">
                            <h2 class="m-b-0">@ViewBag.DonHang</h2>
                            <p class="m-b-0 text-muted">Tổng đơn hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="avatar avatar-icon avatar-lg avatar-purple">
                            <i class="anticon anticon-user"></i>
                        </div>
                        <div class="m-l-15">
                            <h2 class="m-b-0">@ViewBag.KhachHang</h2>
                            <p class="m-b-0 text-muted">Số khách hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="margin-left: 15px">
            <div class="card-body">
                <br />
                <br />
                <div class="chart-container" style="position: relative; width:425px">
                    <canvas id="myChart"></canvas>
                </div>
                <br />
                <br />
                <center>Tỷ lệ các mặt hàng bán được của cửa hàng</center>
            </div>
        </div>
        <div class="card" style="margin-left: 30px">
            <div class="card-body">
                <div class="chart-container" style="position: relative; height:350px; width:635px">
                    <canvas id="myChart2"></canvas>
                </div>
                <center>Số đơn hàng trong 7 ngày qua</center>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="chart-container" style="position: relative; width:1035px">
                <canvas id="myChart3"></canvas>
            </div>
            <br />
            <br />
            <center>Doanh thu trong 7 ngày qua</center>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Top sản phẩm bán chạy</h5>

            </div>
            <div class="m-t-10">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Tổng lượng mua</th>
                                <th>Tổng tiền</th>
                                <th style="max-width: 70px">Tồn kho</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in lsTopProducts.GroupBy(x => x.ProductId, (key, items) => new { Ten = items.Select(x => x.Product.ProductName), Soluong = items.Select(x => x.Amount).Sum(), Tongtien = items.Select(x => x.TotalMoney).Sum(), Tonkho = items.Select(x => x.Product.UnitsInStock), anh = items.Select(x => x.Product.Thumb) }).OrderByDescending(x => x.Soluong).Take(10))
                            {
                                <tr>
                                    <td>
                                        <div class="media align-items-center">
                                            <div class="avatar avatar-image rounded">
                                                <img src="~/images/products/@item.anh.FirstOrDefault()" alt="@item.Ten.FirstOrDefault()">
                                            </div>
                                            <div class="m-l-10">
                                                <span>@item.Ten.FirstOrDefault()</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="padding-left:65px">@item.Soluong</td>
                                    <td>@item.Tongtien.Value.ToString("#,##0") VNĐ</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="progress progress-sm w-100 m-b-0">
                                                <div class="progress-bar bg-success" style="width: @item.Tonkho.FirstOrDefault()%"></div>
                                            </div>
                                            <div class="m-l-10">
                                                @item.Tonkho.FirstOrDefault()
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<script>

                    $(document).ready(setup);
                            function setup(){
                          var option={
                             type:"GET",
                             url:'/Admin/Home/Data',
                             contentType:"application/json;charset=utf-8",
                             dataType:"json",
                             success: function(data)
                             {
            console.log(data);
                        var x_data=data[0];
                var y_data=data[1];
                        const ctx = document.getElementById('myChart');
                const myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: x_data,
                        datasets: [{
                            label: 'Số sản phẩm',
                            data: y_data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(180, 63, 254, 0.2)',
                                'rgba(254, 63, 180, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(255, 213, 75, 0.2)',
                                'rgba(255, 78, 58, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(180, 63, 254, 1)',
                                'rgba(254, 63, 180, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(255, 213, 75, 1)',
                                'rgba(255, 78, 58, 1)'
                            ],
                            borderWidth: 1,
                            hoverOffset: 4

                        }]
                    },
                    options: {
                        responsive: true,
                  maintainAspectRatio: true,
                  plugins: {
                    labels: {
                      render: 'percentage',
                      fontColor: ['black'],
                      precision: 0.5
                    }
                  },
                    }
                    })
                             }
                           };
                          $.ajax(option);
                          } //end setup

                //hàm mới 2
                $(document).ready(setup2);
                            function setup2(){
                          var option={
                             type:"GET",
                             url:'/Admin/Home/Data2',
                             contentType:"application/json;charset=utf-8",
                             dataType:"json",
                             success: function(data)
                             {
            console.log(data);
                        var x_data=data[0];
                var y_data=data[1];
                        const ctx = document.getElementById('myChart2');
                const myChart2 = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: x_data,
                        datasets: [{
                            label: 'Đơn hàng',
                            data: y_data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(180, 63, 254, 0.2)',
                                'rgba(254, 63, 180, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(255, 213, 75, 0.2)',
                                'rgba(255, 78, 58, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(180, 63, 254, 1)',
                                'rgba(254, 63, 180, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(255, 213, 75, 1)',
                                'rgba(255, 78, 58, 1)'
                            ],

                            borderWidth: 1,
                            hoverOffset: 4

                        }]
                    },
                    options: {
                        ////option gì đó
                        plugins: {
                    labels: {
                      render: () => {}
                    }
                  },
                        scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        stepSize: 1,    // minimum will be 0, unless there is a lower value.
                        // OR //
                        beginAtZero: true   // minimum value will be 0.
                    }
                }]
            }

                    } // end option
                    })
                             }
                           };
                          $.ajax(option);
                          }

                          //hàm mới 3
    $(document).ready(setup3);
                            function setup3(){
                          var option={
                             type:"GET",
                             url:'/Admin/Home/Data3',
                             contentType:"application/json;charset=utf-8",
                             dataType:"json",
                             success: function(data)
                             {
            console.log(data);
                        var x_data=data[0];
                var y_data=data[1];
                        const ctx = document.getElementById('myChart3');
                const myChart3 = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: x_data,
                        datasets: [{
                            label: 'Doanh thu (VNĐ)',
                            data: y_data,
                            backgroundColor: [
                                'rgba(75, 192, 192, 0.2)'
                            ],
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1,
                            //fill: false,
                            borderWidth: 1,
                            hoverOffset: 4

                        }]
                    },
                    options: {
                        ////option gì đó
                        tooltips: {
                callbacks: {
                    label: function(tooltipItems, data) {
                        if(parseInt(tooltipItems.yLabel) >= 1000)
                        return tooltipItems.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " VNĐ";
                        else return tooltipItems.yLabel.toString() + " VNĐ";
                    }
                }
                        },
                        scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        stepSize: 500000,    // minimum will be 0, unless there is a lower value.
                        // OR //
                        beginAtZero: true ,  // minimum value will be 0.
                        callback: function(value, index, values) {
                  if(parseInt(value) >= 1000){
                    return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                  }
                }
                    }
                }]
            }

                    } // end option
                    })
                             }
                           };
                          $.ajax(option);
                          }



</script>
}